body{
    background-color: #e5f5ed;
    background-image: url("back.jpg");
}
.heading{
    margin: 50px auto;
    line-height: 1.5;
    font-family: 'Macondo', cursive;
    font-size: 40px;
    color: #66BFBF;
}
.sub{
    margin-top: 10px;
    text-align: center;
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
h2{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    color: #56C6A9;
    font-size: 45px;
}
h3{
    text-align: center;
    margin-bottom: 10px;
    font-family:'Cedarville Cursive', cursive;
    color: #60b666;
    font-size: 40px;
}
.profile{
    text-align: center;
    font-size: 20px;
    color: rgb(19, 131, 23);
}
.skill{
    font-size: 30px;
    color: rgb(19, 131, 23);
}
.skill-row{
    font-size: 20px;
    text-align: left;
    width: 50%;
    line-height: 1.5;
    margin: auto;
}
.contact-me{
    text-align: center;
    
}
.btn{
    background-color:rgb(14, 233, 160);
    font-size: 25px;
    height: 60px;
    width: 300px;
    border: 1px white;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
}
.bottom-container{
    padding-top: 20px;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    height: 70px;
    background-color:#5aedc1;
}
.hello-img{
    border: 1px #d3f8e7;
    border-radius: 150px;
    height: 150px;
    width: 150px;
}
.no1{
    border: 1px #d3f8e7;
    border-radius: 150px;
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 30px;
}
.no2{
    border: 1px #d3f8e7;
    border-radius: 150px;
    height: 150px;
    width: 150px;
    float: right;
    margin-left: 30px;
}
.end{
    font-family:'Cedarville Cursive', cursive;
    font-size: 30px;
}
a{
    color:#0b6904;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}